<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Página de Inicio</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1 class="my-4">Bienvenido a la Aplicación de Pedidos</h1>
            <a href="products/list" class="btn btn-primary">Ver Lista de productox</a>
            <a href="products/create" class="btn btn-success">Crear Nuevo producto</a>
            <a href="/orders/list" class="btn btn-primary">Ver Lista de Pedidos</a>
            <a href="/orders/create" class="btn btn-success">Crear Nuevo Pedido</a>

            <footer class="mt-4">
                <p>© 2024 Aplicación de Pedidos</p>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
